* {
  margin: 0;
  padding: 0;

  font-family: var(--f-main);
  font-size: 16px;

  outline: none;
  border: none;

  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;

  cursor: pointer;
}

.container-all {
  width: 100vw;
  height: 100vh;
  padding: 1rem;

  /* background: var(--c-main); */

  background: rgb(145,161,255);
background: linear-gradient(16deg, rgba(145,161,255,1) 0%, rgba(140,157,255,1) 100%);

  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  height: 100%;
  padding: 0.5rem;

  border-radius: 0.5rem;
  background-color: var(--c-main-lite);

  box-shadow: 0px 2px 15px -4px rgba(0, 0, 0, 0.1);
}

.section .section__header {
  width: 100%;

  color: var(--c-white-o80);
  font-weight: 500;

  display: flex;
  align-items: center;
}

.section .section__content {
  width: 100%;
  height: calc(100% - 50px);
  padding: 0 1rem;
}

i.icon {
  color: var(--c-white);
}
