@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  /* 
      ---- colors ----
  */
  --c-main: #a3b0ff;
  --c-main-lite: #667afd;

  --c-dist: #4964ff;
  --c-dist-o50: #4964ff7c;

  --c-white: #f5f5f5;
  --c-white-o80: #f5f5f5cc;

  /* 
      ---- fonts ----
  */
  --f-main: "Poppins", sans-serif;
}
