@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  /* 
      ---- colors ----
  */
  --c-main: #93c7ff;
  --c-main-lite: #4899ef;

  --c-dist: #92c5fc;
  --c-dist-o50: #5da5f17c;

  --c-white: #f5f5f5;
  --c-white-o80: #f5f5f5cc;

  /* 
      ---- fonts ----
  */
  --f-main: "Poppins", sans-serif;
}
